<section ng-controller="HomeController">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="party-up-box">
        <h5>Register for Free Today!</h5>
        <h6>It's FREE to create an account!</h6>
        <br>
        <p>- Save games you own</p>
        <p>- Create and reply to combinations</p>
        <p>- Receive notifications</p>
        <p>- and more!</p>
        <!--
        <div class="buttons">
          <a ui-sref="authentication.signup">
            <button class="btn PUButton">SIGN UP</button>
          </a>
          <a ui-sref="authentication.signin">
            <button class="btn PUButton">SIGN IN</button>
          </a>
        </div>
      -->
      </div>
    </div>    

    <div class="row">
      <div class="box">
        <h5>Party Up Generic Title</h5>
        <slick class="slider multiple-items slick-slider draggable" infinite="true" slides-to-show="8" slides-to-scroll="8">
          <div>
            <svg height="136" width="120" style="fill:white;">
              <polygon points="5.6,93.0, 46.3,135.4 79.6,135.4 121.3,93.0 121.0,21.2 116.6,11.5 107.0,5.7 19.5,6.0 10.3,12.5 6.0,22.7" />
              <svg height="136" width="120" style="fill:black;">
                <defs>
                  <clipPath id="clipPolygon">
                    <polygon points="8.67,92.00 31.33,114.47 94.67,114.47 117.33,91.00 117.00,21.26 112.67,14.53 104.33,9.28 22.00,9.03 13.33,13.53 9.00,20.76" />  
                  </clipPath>
                </defs>
                <defs>
                  <pattern id="image" patternUnits="userSpaceOnUse" height="200" width="200">
                    <image xlink:href="modules/core/client/img/black-ops.jpg" x="0" y="25" height="200" width="200" transform="translate(-35.5,-31)" />
                  </pattern>
                </defs>
                <g>
                  <rect x="0" y="0" width="120" height="115" clip-path="url(#clipPolygon)" fill="url(#image)"/>
                  <text class="dpad-text"x="62" y="130" text-anchor="middle">50,000</text>
                </g>
              </svg>
            </svg>
          </div>
          <div class="dpad dpad-points">
            <p class="dpad dpad-points">2</p>
          </div>
          <div>
            <p class="dpad dpad-points">3</p>
          </div>
          <div>
            <p class="dpad dpad-points">4</p>
          </div>
          <div>
            <p class="dpad dpad-points">5</p>
          </div>
          <div>
            <p class="dpad dpad-points">6</p>
          </div>
          <div>
            <p class="dpad dpad-points">7</p>
          </div>
          <div>
            <p class="dpad dpad-points">8</p>
          </div>
          <div>
            <p class="dpad dpad-points">9</p>
          </div>
          <div>
            <p class="dpad dpad-points">10</p>
          </div>
        </slick>
      </div>
    </div>

    <div class="row">
      <div class="box">
        <h5>More Games!</h5>
        <p>AND MORE CONTENT, YEAH!</p>
      </div>
    </div>

  </div>
</section>
