body {
	background: #2B2B2B;
	color: #FFFEFF;
}

/* Slick Additional Styling */
slick {
	width: 84%;
	text-align: center;
	margin: 0 auto;
}
slick div p {
	background-color: #CCCCCC;
	color: #2b2b2b;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}
slick div img {
	margin: auto;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}
slick .slider .multiple-items .slick-slider .draggable .ng-isolate-scope .slick-initialized {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* List Group styling */
.list-group-item.ng-scope {
	background: #202020;
	padding: 2;
}
.list-group-item.ng-scope:hover {
	background: #8DC63F;
}
.list-group-item-text, .list-group-item-heading {
	background: none;
	color: #FFFEFF;
	padding: 0;
	margin: 0;
}

/*
.dpad {
	margin: auto;
	background: #FFFEFF;
    
    background: -webkit-linear-gradient(#CCCCCC, #FFFFFF);
	background: -moz-linear-gradient(#CCCCCC, #FFFFFF);  
    background: -ms-linear-gradient(#CCCCCC, #FFFFFF);
    background: -o-linear-gradient(#CCCCCC, #FFFFFF);
    background: linear-gradient(#CCCCCC, #FFFFFF);
    
    height: 136px;
}
.dpad-points {
	-webkit-shape-outside: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-moz-shape-outside: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-ms-shape-outside: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-o-shape-outside: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	shape-outside: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);

	-webkit-clip-path: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-moz-clip-path: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-ms-clip-path: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	-o-clip-path: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
	clip-path: polygon(5.67px 93.00px,46.33px 135.47px,79.67px 135.47px,121.33px 93.00px,121.00px 21.26px,116.67px 11.53px,107.08px 5.78px,19.50px 6.03px,10.33px 12.53px,6.00px 22.76px);
}
*/
.dpad-text {
	font-weight: bold;
	font-size: 0.8em;
}

/* Navbar styling */
.navbar-nav .open .dropdown-menu > li > a, .navbar .nav .open .dropdown-menu {
	color: #FFFEFF;
}
.navbar-brand {
	height: 100%;
}
.navbar-toggle {
	margin-top: 18px;
}

/* Party Up Buttons */
.btn.PUButton {
	color: white;
	background-color: #8DC63F;
	font-weight: bold;
	text-shadow: 0.1px 0.1px 5px #2B2B2B;
}
.btn.PUButton:hover {
    background-color: #A2D062;
}

/* Party Up Header */
.party-up-header {
	height: 40px;
}

/* Dropdown Menu Styling */
.dropdown-menu {
	background-color: #2B2B2B;
	color: #FFFEFF;
	min-width: 0 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image: none!important;
	background-color: #8DC63F;
}
.console-logo-size {
	width: 35px;
	height: 35px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active     >     a:focus {
    background: #6F9D2F;
}

/* Search bar styling */
.srch {
	margin-top: 14px;
}

/* Scrollbar styling for webkit broswers */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    -webkit-border-radius: 5px;
    -moz-box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    -moz-border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    border-radius: 5px;
    background: #2B2B2B;
    margin: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFEFF;
    background: rgba(255,254,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
	-moz-box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
	box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #FFFEFF;
	background: rgba(255,254,255,0.4);
}

/* Boxes styling */
.box {
	border: 1px solid #161616;
	border-radius: 5px;
	background: repeating-linear-gradient(-45deg, #161616, #161616 2px, #2B2B2B 2px, #2B2B2B 4px);
	margin: 0;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: auto;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
	color: #FFFEFF;
}
.party-up-box {
	border: 1px solid #161616;
	border-radius: 5px;
	background: #161616;
	background-color: #161616;
	margin-bottom: 10px;
	color: #FFFEFF;
}
.party-up-box h5 {
	background: #8DC63F;
	background-color: #8DC63F;
	font-weight: bold;
	padding: 8px;
	padding-left: 20px;
	margin-top: 0;
	text-shadow: 0.5px 0.5px 2px #2B2B2B;
}
.party-up-box p, h6 {
	text-align: center;
	padding: 0;
	margin: 0;
}
.party-up-box h6 {
	padding-top: 8px;
	font-weight: bold;
	font-size: 16px;
}
.party-up-box a {
	margin: auto;
}
.box h5 {
	background: #161616;
	color: #FFFEFF;
	padding: 8px;
	padding-left: 20px;
	font-weight: bold;
	margin-top: 0;
}
.box td, p {
	color: #FFFEFF;
	padding: 10px;
}
.box {
	-moz-border-radius-topright:5px;
    -moz-border-radius-topleft:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}

.buttons {
	text-align: center;
	margin-top: 10px;
}


.modal-headerPU {
  	border-bottom: 1px solid #e5e5e5;
  	background-color: #88C641;
}

.modal-bodyPU {
  	background-color: black;
}
.modal-footerPU {
  	border-top: 1px solid #e5e5e5;
  	background-color: black;
}

/* Header Search Bar */
/*
.search input {
	width: 0;
	margin-left: 210px;
	padding: 0 2px 0 2px;
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.search:hover input, .search input:focus {
	width: 200px;
	margin-left: 0;
}
.btn {
}
*/


/* Search glyphicon sizing */
/*span.glyphicon-search {
	font-size: 1.2em;
}*/
