<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="game.title"></h1>
      </div>
    </div>
  </div>

  <div class="page-header">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group text-center">
          <img ng-src="{{game.gameImageURL}}" class="img-thumbnail game-cover-smaller">
        </div>
      </div>
      <div class="col-sm-8">
        <h2>{{game.title}}</h2>
        <h4>{{game.platform}}</h4>
        <h4>{{game.genre}}</h4>
        <h4>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 50</h4>
        <h4>
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> 50</h4>
        <a class="btn btn-primary" ui-sref="create-discussion({gameID: game._id})">
          Create Post
        </a>
      </div>
    </div>
  </div>
  <div ng-repeat="discussion in discussions | filter: { game: game_.id } |
  orderBy: 'updated'">
    <div class="panel-PU">
      <div class="panel-heading-PU">
        <div class="panel-username-pic">
          <span><img src="{{discussion.originalPoster.profileImageURL}}" class="panel-pic"></img>  <strong class="panel-title-PU">{{discussion.originalPoster.email}}</strong></span>
        </div>
        <!-- <div class="panel-date-PU">
          <h6>{{discussion.updated}}</h6>
        </div> -->
      </div>
      <div class="panel-body-PU">
        <a ui-sref="chat({discussionID: discussion._id})">{{discussion.title}}</a>
      </div>
    </div>
    <br>
  </div>

</section>
