<div ng-controller="AddGameController">
  <div class="page-header">
    <h3 class="text-center">Add Game</h3>
  </div>
  <div class="col-md-12">
    <form name="gameForm" ng-submit="addGame()" class="addGame">
      <fieldset>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group text-center">
              <img ng-src="{{imageURL}}" class="img-thumbnail game-cover">
            </div>
            <div class="form-group text-center" ng-hide="uploader.queue.length">
              <span class="btn btn-default btn-file">
                Select Image
                <input type="file" nv-file-select uploader="uploader">
              </span>
            </div>
            <div class="form-group text-center" ng-show="uploader.queue.length">
              <!-- <button class="btn btn-primary" ng-click="uploadGamePicture();">Upload</button> -->
              <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
            </div>
            <div ng-show="success" class="text-center text-success">
              <strong>Game Cover Picture Changed Successfully</strong>
            </div>
            <div ng-show="error" class="text-center text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group" show-errors>
              <label for="email">Title</label>
              <div class="controls">
                <input type="text" id="title" name="title" class="form-control" ng-model="title" required>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="platform">Platform</label>
              <br>
              <div class="controls">
                <select id="platform" ng-model="platform" name="Platform" style="color: #2b2b2b;" required>
                  <option value="Xbox One">Xbox One</option>
                  <option value="PS4">PS4</option>
                  <option value="Steam">Steam</option>
                </select>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="genre">Genre</label>
              <br>
              <div class="controls">
                <select id="genre" ng-model="genre" name="Genre" style="color: #2b2b2b;" required>
                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Dance/Rhythm">Dance/Rhythm</option>
                  <option value="Fighting">Fighting</option>
                  <option value="FPS">First-Person-Shooter</option>
                  <option value="Simulation">Simulation</option>
                  <option value="Sports">Sports</option>
                  <option value="Strategy">Strategy/Real-Time-Strategy</option>
                </select>
              </div>
            </div>
            <!-- <div class="form-group" show-errors>
            <label for="email">Link to Cover Art</label>
            <div class="controls">
              <input type="url" id="url" name="url" class="form-control" ng-model="gameurl" placeholder="Cover URL" required>
            </div>
          </div> -->
            <!-- <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Xbox One</a></li>
                <li><a href="#">PS4</a></li>
                <li><a href="#">Steam</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="text-center form-group">
            <button type="submit" class="btn btn-primary">Add Game</button>
          </div>
          <div ng-show="error" class="text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
