<section>
  <div class="page-header">
    <h1>Game </h1>
  </div>
  <div class="col-md-12">
    <form name="gameForm" ng-submit="updateGame(gameForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" ng-model="game.title" placeholder="Title" required />
          <div ng-messages="gameForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Title.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="platform">Platform</label>
          <input type="text" id="platorm" name="platform" class="form-control" ng-model="game.platform" placeholder="Platform" required />
          <div ng-messages="gameForm.platform.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Platform is required.</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn PUButton">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
