<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="game.title"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn PUButton" ui-sref="admin.game-edit({gameID: game._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn PUButton" ng-click="removeGame();">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Game Name</strong></div>
        <div class="col-md-6" ng-bind="game.title"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Platform</strong></div>
        <div class="col-md-6" ng-bind="game.platform"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Img URL</strong></div>
        <div class="col-md-6" ng-bind="game.gameImageURL"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Created</strong></div>
        <div class="col-md-6" ng-bind="game.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Discussions</strong></div>
        <div class="col-md-6" ng-bind="game.discussions"></div>
      </div>
    </div>
  </div>
</section>
