<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Xbox Live</label>
          <input type="text" id="xboxlive" name="xboxlive" class="form-control" ng-model="user.xboxlive" placeholder="Xbox live gamertag">
          <div ng-messages="userForm.xboxlive.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Username is required.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">PlayStation Network</label>
          <input type="text" id="psn" name="psn" class="form-control" ng-model="user.psn" placeholder="PSN username">
          <div ng-messages="userForm.psn.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Username is required.</p> -->
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Steam</label>
          <input type="text" id="steam" name="steam" class="form-control" ng-model="user.steam" placeholder="Steam username">
          <div ng-messages="userForm.steam.$error" role="alert">
            <!-- <p class="help-block error-text" ng-message="required">Username is required.</p> -->
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn PUButton">Save Profile</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
