<div ng-controller="AuthenticationController">
  <div class="modal-header" background-color='#88C641'>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <div class="modal-body">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="text" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="Email" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Password is required.</p>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <div class="text-center form-group">
      <button type="submit" ng-click="signin(userForm.$valid)" class="btn PUButton">Sign in</button>
      &nbsp; or&nbsp;
      <a ui-sref="authentication.signup">Sign up</a>
    </div>
    <div class="text-center forgot-password">
      <a ui-sref="password.forgot">Forgot your password?</a>
    </div>
    <alert type="danger" ng-show="error" class="text-center text-danger">
      <span ng-bind="error"></span>
    </alert>
    </fieldset>
    </form>
  </div>
</div>
