body {
	background: #2B2B2B;
	color: #FFFEFF;
}

/* Filter (Dropdown and Search) */
.filter {
	margin-top: 10px; 
	margin-bottom: 10px;
}

/* Slick Additional Styling */
slick {
	width: 84%;
	text-align: center;
	margin: 0 auto;
}
slick div p {
	background-color: #CCCCCC;
	color: #2b2b2b;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}
slick div img {
	margin: auto;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}
slick .slider .multiple-items .slick-slider .draggable .ng-isolate-scope .slick-initialized {
	margin-bottom: 0;
	padding-bottom: 0;
}
#grad-start {
	stop-color:rgb(0,0,0); 
	-webkit-stop-opacity: 1;
	-moz-stop-opacity: 1;
	-ms-stop-opacity: 1;
	-o-stop-opacity: 1;
	stop-opacity: 1;
}
#grad-end {
	stop-color:rgb(255,255,255);
	-webkit-stop-opacity: 1;
	-moz-stop-opacity: 1;
	-ms-stop-opacity: 1;
	-o-stop-opacity: 1;
	stop-opacity: 1;
}

.dpad {
	cursor: pointer;
	display: inline;
}
.dpad-text {
	font-weight: bold;
	font-size: 0.8em;
}

/* Navbar styling */
.navbar-nav .open .dropdown-menu > li > a, .navbar .nav .open .dropdown-menu {
	color: #FFFEFF;
}
.navbar-brand {
	height: 100%;
}
.navbar-toggle {
	margin-top: 18px;
}

/* Party Up Buttons */
.btn.PUButton {
	color: white;
	background-color: #8DC63F;
	font-weight: bold;
	text-shadow: 0.1px 0.1px 5px #2B2B2B;
}
.btn.PUButton:hover {
    background-color: #A2D062;
}

/* Party Up Header */
.party-up-header {
	height: 40px;
}

/* Dropdown Menu Styling */
.dropdown-menu {
	background-color: #2B2B2B;
	color: #FFFEFF;
	min-width: 0 !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image: none!important;
	background-color: #8DC63F;
}
.console-logo-size {
	width: 35px;
	height: 35px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active     >     a:focus {
    background: #6F9D2F;
}

/* Search bar styling */
.srch {
	margin-top: 14px;
}

/* Scrollbar styling for webkit broswers */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    -webkit-border-radius: 5px;
    -moz-box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    -moz-border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(43,43,43,0.3);
    border-radius: 5px;
    background: #2B2B2B;
    margin: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFEFF;
    background: rgba(255,254,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
	-moz-box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
	box-shadow: inset 0 0 6px rgba(43,43,43,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #FFFEFF;
	background: rgba(255,254,255,0.4);
}

/* Boxes styling */
.box {
	border: 1px solid #161616;
	background: repeating-linear-gradient(-45deg, #161616, #161616 2px, #2B2B2B 2px, #2B2B2B 4px);
	margin: 0;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: auto;
	-ms-overflow-y: hidden;
	overflow-y: hidden;
	color: #FFFEFF;

	-webkit-border-radius: 0px 0px 5px 5px !important;
    -moz-border-radius: 0px 0px 5px 5px !important;
    border-radius: 0px 0px 5px 5px !important;
}
.party-up-box {
	border: 1px solid #161616;
	border-radius: 5px;
	background: #161616;
	background-color: #161616;
	margin-bottom: 10px;
	color: #FFFEFF;
}
.party-up-box h5 {
	background: #8DC63F;
	background-color: #8DC63F;
	font-weight: bold;
	padding: 8px;
	padding-left: 20px;
	margin-top: 0;
	text-shadow: 0.5px 0.5px 2px #2B2B2B;
}
.party-up-box p, h6 {
	text-align: center;
	padding: 0;
	margin: 0;
}
.party-up-box h6 {
	padding-top: 8px;
	font-weight: bold;
	font-size: 16px;
}
.party-up-box a {
	margin: auto;
}
.row h5 {
	background: #161616;
	color: #FFFEFF;
	padding: 8px;
	padding-left: 20px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-border-top-right-radius:5px;
    -webkit-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
.box td, p {
	color: #FFFEFF;
	padding: 10px;
}
.buttons {
	text-align: center;
	margin-top: 10px;
}


.modal-headerPU {
  	border-bottom: 1px solid #e5e5e5;
  	background-color: #88C641;
}

.modal-bodyPU {
  	background-color: black;
}
.modal-footerPU {
  	border-top: 1px solid #e5e5e5;
  	background-color: black;
}

.game-cover-smaller {
	height: 75%;
	width: 75%;
}

.game-header-fixed {
	position: fixed;
}

.panel-PU {
	background-color: #88C641;
	color: #e5e5e5;
}

.panel-body-PU {
  padding: 15px;
}
.panel-heading-PU {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-body-PU {
	background-color: black;
	color: #e5e5e5;
}

.panel-title-PU {
  font-size: 16px;
  color: #2d2d2d;
}

.panel-PU {
  border-color: #ddd;
}
.panel-PU > .panel-heading-PU {
  color: #333;
  background-color: #88C641;
  border-color: #ddd;
}

.panel-pic {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin-right: 5px;
}

.panel-header-PU > .panel-username-pic {
	float: left;
}

.panel-header-PU > .panel-date-PU {
	float: right;
}

/*.panel-header-PU > img {
  float: left;
}

.panel-header-PU > .panel-title-PU {
  float: left;
  top: 18px;
  left: 10px;
}*/

/* Header Search Bar */
/*
.search input {
	width: 0;
	margin-left: 210px;
	padding: 0 2px 0 2px;
	-webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.search:hover input, .search input:focus {
	width: 200px;
	margin-left: 0;
}
.btn {
}
*/


/* Search glyphicon sizing */
/*span.glyphicon-search {
	font-size: 1.2em;
}*/
